body,
html {
    min-height: 100%;
}

body {
    background-image: url(../styles/sakura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}

.hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    background-color: rgba(0,0,0,0.5)
}

.container {
    margin: 0;
    float:left;
    height: 0%;
}

header {
    color: #ffffff;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.navbar-brand {
    float: left;
    color: #ffffff;
    padding: 20px 0 3px 0;
    font-size: 30px;
}
.nav-choice{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

nav {
    float: right;
}

nav ul{
    margin: 0; 
    padding: 10px 0 3px 0;
    list-style: none;
}

nav li{
    display: inline-block;
    padding-top: 30px;
    margin-left: 100px;
    
    position: relative;

}

nav .nav-choice:hover {
    color: #ffd8d8;
}

nav .nav-choice::before {
    content: '';
    display: block;
    height: 5px;
 
    background-color: #ffffff;
    position: absolute;
    top: 0;
    width: 0%;
   
    transition: all ease-in-out 150ms;
}

nav .nav-choice:hover::before{
    width: 100%;
    top: 0;
}

.blog-link {
    padding-left: 1%;
}

h1 {
    color: #d4d6d6;
    padding-left: 1%;
}

p {
    color: #d4d6d6;
    padding-left: 1%;
}

ul .class {
    color: #d4d6d6;
    
}
p.question-header {
    font-weight: bold;  
 }

a {
    color: #d4d6d6;

}
