/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Background
- rows
*/

/* Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.body-main{
    width: 100vw;
    height: 25vh;
    background-color: blue; 
}

.row{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

@media (min-width: 550px) {
    .row {
        flex-wrap: wrap;
        flex-flow: wrap;
        overflow-wrap: normal;
    }
}

.responsive {
    width: 100%;
    height: auto;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; 
}

.hero-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    background-color: rgba(0,0,0,0.5)
}

body{
    color: whitesmoke;
    background-image: url(sakura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
}

.button{
    color: whitesmoke;
}

img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    resize: both;
}

